:root {
    color-scheme: dark;
    background-color: black;
    color: whitesmoke;

    --magic: 155, 25, 255;
}

:root, body, main {
    overflow: hidden !important;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    user-select: none;
}

body {
    background-image: url("/backdrop.webp");
    background-size: 33vmax;
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    font-family: sans-serif;
}

main {
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.5);
}

#fileInput {
    position: fixed;
    top: 0;
    right: 0;
    width: 100lvw;
    height: 100lvh;
    cursor: pointer;
    opacity: 0;
}

main::before {
    content: "Drop files here";
    filter: drop-shadow(0 0 1rem black);
    position: fixed;
    display: block;
    font-family: "Fondamento", "Garamond", "Bookman Old Style", "Georgia", "Times New Roman", cursive;
    top: 5lvh;
    left: 0;
    width: 100dvw;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
}

.sending main::before {
    content: "Sending...";
}

.ring, .particle, .file, main::before {
    pointer-events: none;
}

.ring {
    position: fixed;
    top: calc(50dvh - 25vmin);
    left: calc(50dvw - 25vmin);
    width: 50vmin;
    height: 50vmin;
    border: 5vmin solid rgba(var(--magic), 1);
    border-radius: 50%;
}

.ring-main {
    filter: drop-shadow(0 0 5vmin rgb(var(--magic))) drop-shadow(0 0 1vmin rgb(var(--magic)));
    background: radial-gradient(closest-side, transparent, rgb(var(--magic)));
    backdrop-filter: blur(2px);
}

.drag-over .ring-main {
    filter: drop-shadow(0 0 5vmin rgb(var(--magic))) drop-shadow(0 0 5vmin rgb(var(--magic)));
    background: radial-gradient(closest-side, rgba(var(--magic), 0.1), rgb(var(--magic)));
}

.sending .ring-main {
    filter: drop-shadow(0 0 5vmin rgb(var(--magic))) drop-shadow(0 0 7.5vmin rgb(var(--magic)));
    background: radial-gradient(closest-side, rgba(255, 200, 230, 0.25), rgba(var(--magic), 1));
}

@keyframes wiggle-ring-a {
    from {
        transform: translateX(-0.5vmin);
    }
    to {
        transform: translateX(0.5vmin);
    }
}

@keyframes wiggle-ring-b {
    from {
        transform: translateY(-0.5vmin);
    }
    to {
        transform: translateY(0.5vmin);
    }
}

.ring-a,
.ring-b {
    content: "";
    display: block;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.drag-over .ring-a,
.sending .ring-a {
    animation-name: wiggle-ring-a;
    animation-duration: 200ms;
}

.drag-over .ring-b,
.sending .ring-b {
    animation-name: wiggle-ring-b;
    animation-duration: 333ms;
}

.particle {
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 2vmin;
    height: 2vmin;
    border-radius: 50%;
    background-color: rgba(var(--magic), 1);
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    filter: drop-shadow(0 0 2vmin rgba(var(--magic), 1));
}

@keyframes particle-a {
    0% {
        transform: translate(0, 0) scale(0);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(50vmax, 10vmax) scale(1);
        opacity: 0;
    }
}

@keyframes particle-b {
    0% {
        transform: translate(0, 0) scale(0);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(-50vmax, -13vmax) scale(1);
        opacity: 0;
    }
}

@keyframes particle-c {
    0% {
        transform: translate(0, 0) scale(0);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(-10vmax, 50vmax) scale(1);
        opacity: 0;
    }
}

@keyframes particle-d {
    0% {
        transform: translate(0, 0) scale(0);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(13vmax, -50vmax) scale(1);
        opacity: 0;
    }
}

@keyframes particle-e {
    0% {
        transform: translate(0, 0) scale(0);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(-20vmax, -45vmax) scale(1);
        opacity: 0;
    }
}

@keyframes particle-f {
    0% {
        transform: translate(0, 0) scale(0);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(45vmax, 20vmax) scale(1);
        opacity: 0;
    }
}

@keyframes particle-g {
    0% {
        transform: translate(0, 0) scale(0);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(-45vmax, -20vmax) scale(1);
        opacity: 0;
    }
}

@keyframes particle-h {
    0% {
        transform: translate(0, 0) scale(0);
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        transform: translate(20vmax, 45vmax) scale(1);
        opacity: 0;
    }
}

.particle-a {
    animation-name: particle-a;
    animation-delay: 0s;
}

.particle-g {
    animation-name: particle-b;
    animation-delay: 0.5s;
}

.particle-b {
    animation-name: particle-c;
    animation-delay: 1s;
}

.particle-c {
    animation-name: particle-d;
    animation-delay: 1.5s;
}

.particle-d {
    animation-name: particle-e;
    animation-delay: 2s;
}

.particle-f {
    animation-name: particle-f;
    animation-delay: 2.5s;
}

.particle-e {
    animation-name: particle-g;
    animation-delay: 3s;
}

.particle-h {
    animation-name: particle-h;
    animation-delay: 3.5s;
}

.particle {
    animation-direction: normal;
    animation-duration: 3s;
}

.drag-over .particle {
    animation-direction: reverse;
    animation-duration: 2s;
}

.sending .particle {
    animation-direction: reverse;
    animation-duration: 1s;
}

#fileIcons {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    padding: min(10vmin, 128px);
    width: 100lvw;
    height: 100lvh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1vmin;
    pointer-events: none;
    color: antiquewhite;
}

#fileIcons .file {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5vmin;
}

#fileIcons .file img {
    width: 5vmin;
    aspect-ratio: auto;
}

#fileIcons .file span {
    font-size: 0.5rem;
}
